@model IEnumerable<Mwh.SampleCRUD.BL.Models.EmployeeModel>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Department
            </th>
            <th>
                State
            </th>
            <th>
                Country
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @item.Department.ToString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country)
                </td>
                <td>
                    <a href="#" class="btn btn-primary" onclick="return loadEmployeeEdit('@item.EmployeeID')">Edit</a>  
                    <a href="#" class="btn btn-warning" onclick="return loadEmployeeDelete('@item.EmployeeID')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot></tfoot>
</table>
